<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.acestream.livechannels">

    <!-- Required to play internet-based streaming contents. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to update or read existing channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />

    <!-- Required to update channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <!-- Required to sync EPG data after reboot. For details,
    please see {@link JobInfo.Builder#setPersisted}-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>

        <activity
            android:name=".setup.TvInputSetupActivity"
            android:process="${applicationId}"
            android:theme="@style/Theme.TV.GuidedStep">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- This service is for using JobScheduler to sync EPG data. -->
        <service
            android:name=".sync.SyncJobService"
            android:process="${applicationId}"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <!-- Intent services to do sync work in background -->
        <service
            android:name=".sync.SyncService"
            android:process="${applicationId}"/>
        <!-- This receiver is for sync job schedule well after reboot. -->
        <receiver
            android:name=".sync.BootReceiver"
            android:process="${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!-- TV input which provides channels based on the streaming contents.
                Requires "android.permission.BIND_TV_INPUT" to ensure that only system services can bind.
                This provides the full implementation of TvInputService including EPG, subtitles,
                multi-audio, parental controls, and overlay view.
                -->
        <service
            android:name=".tvinput.TvInputService"
            android:process="${applicationId}"
            android:label="@string/input_label"
            android:permission="android.permission.BIND_TV_INPUT">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <!-- An XML file which describes this input. This provides pointers to the
            SetupActivity to the system/TV app. -->
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/tvinputservice" />
        </service>
    </application>
</manifest>
